<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence" version="2.1">
    <persistence-unit name="persistenceUnit">
        <class>com.spring.boot.manager.entity.Example</class>
        <class>com.spring.boot.manager.entity.Mailinfo</class>
        <class>com.spring.boot.manager.entity.Size</class>
        <properties>
            <property name="hibernate.connection.url" value="jdbc:mysql://localhost:3306/shopify"/>
            <property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver"/>
            <property name="hibernate.connection.username" value="root"/>
            <property name="hibernate.connection.password" value="root"/>
        </properties>
    </persistence-unit>
</persistence>
